@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label">Country</label>
                <select asp-items="ViewBag.Country" id="Country" name="Country" class="form-control">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">SubCategory Type</label>
                <select id="State" class="form-control" name="State">
                </select>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@if (ViewBag.SelectedCountry != null)
{
    <div>
        You selected : @ViewBag.SelectedCountry <br />
        You selected : @ViewBag.SelectedState <br />
    </div>
}

@section Scripts{
    <script>
        $(function () {
            //jquery function to be called when country dropdown changes
            $("#Country").change(function () {
                var cid = $(this).val();
                $("#State").empty();
                //call GetStates method to get states list
                $.getJSON(`/Home/GetStates?id=${cid}`, function (data) {
                    //console.log(data);
                    $.each(data, function (i, item) {
                        $("#State").append(`<option value="${item.value}">${item.text}</option>`);
                    });
                });
            })
        });
    </script>
 }